  
<div class="home">
  <div class="home--header-box">
    <h1 class="heading-primary">Deck Tracker</h1>
  
    <div class="home--links">
      <%= link_to "Sign in", signin_path, class:"btn btn__left btn__green" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn__green" %>
      <div class="google-login">
        <%= link_to('/auth/google_oauth2', class: "btn__green btn__disabled") do %>
          <span class="btn-content"><%=image_tag "google.png", class: "icon"%> Login</span>
          <% end %>
      </div>
    </div>
    </div>
</div>
