<div class="theme-showcase" role="main">

  

  <div class="right-info">
    <h1>Deck Tracker App</h1>
    <div class="left-pic">
    <img src="https://images.pexels.com/photos/1083626/pexels-photo-1083626.jpeg?cs=srgb&dl=bulb-card-close-up-1083626.jpg&fm=jpg" width="350" height="325">
  </div>
    <div class="center">
      <%= link_to "Sign In", signin_path, class: "btn btn-primary" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn-primary" %><br>
      <%= link_to('Log in with Google', '/auth/google_oauth2') %><br>
      <%= link_to('Log in with Facebook', '/auth/facebook') %>
    </div>
  </div>

</div>