

  

  <div class="home">
  <div class="home--header-box">
    <h1 class="heading-primary">Deck Tracker App</h1>
    
    <div class="home--links">
    <%= link_to "Sign in", signin_path, class:"btn btn--white" %>
      <%= link_to "Sign Up", new_user_path, class: "btn btn--white" %>
      <%= link_to('Log in with Google', '/auth/google_oauth2', class: "btn btn--white") %>
    </div>
    </div>
  </div>
