
.main {
    width: 70vw;
    height: 100vh;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    
    align-items: center;
    position: absolute;
    clip-path: polygon(50% 0%, 86% 40%, 77% 95%, 23% 95%, 14% 40%);
    
    z-index: -10;
    background-image: linear-gradient(
    to right bottom,
    rgba($color-card-b-new-dark,0.8),
    rgba($color-card-r-new-light,0.8)),
     url("https://image.shutterstock.com/image-photo/moscow-russia-march-24-2014-600w-528708949.jpg");
    display: inline-block;
    
}
.application {
    position: relative;
    display: inline-block;
    top: 20%;
    left: $left-g;
    width: calc(2 * #{$left-u} - 100%);
    //transform: translate(-50%);
}
