<strong>Play a game! </strong>
<p id="notice"><%= notice %></p>
<p><%= link_to 'Play Games!', new_game_path %></p>
<%@games.each do |game| %> 
    <div>
     <td><%= link_to "#{game.deck.name}", game_path(game) %> : <%=game.result %> </td>
    </div>
<%end%>
 


