<% if @deck %>
    <%= render 'deckform'%>
<%else%>
    <%if current_user.decks.length>0%>
        <%= render 'form'%>
    <%else%>
        <h2 class="header u-alert-text">You need a deck to play a game! <%= link_to 'New Deck', new_deck_path(current_user) %></h2>
        
    <%end%>
<%end%>
