.home{
   display: inherit;
   position: inherit;
   left: calc(50% - #{$mana-button-width});
   
    //width: 80vw;
   // background-image: linear-gradient(
   //  to right bottom,
   //  rgba($color-card-b-new-dark,0.8),
   //  rgba($color-card-r-new-light,0.8)),
   //   url("https://image.shutterstock.com/image-photo/moscow-russia-march-24-2014-600w-528708949.jpg");
   // background-size: cover;
   // background-position: top;
   // position: relative;
   //clip-path: polygon(0 0, 100% 0%, 100% 50%, 50% 100%, 0% 50%);

   &--header-box{
     
      width: calc(#{$mana-button-width} * 2);
      margin-left: calc(#{$mana-button-width} / 4);
      position: inherit;
      //align-items: center;
   }
}
ul{
   margin: 0;
}