$color-primary:#c555ad;
$color-primary-light:#b590ca;
$color-primary-dark: #6a00e4;
$color-grey-dark: #777;
$color-grey-light-1: #F7F7F7;
$color-white: #fff;
$color-black: #000;


$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8 rem;
$gutter-horizontal: 6rem;