$color-primary:#8955c5;
$color-primary-light:#b590ca;
$color-primary-dark: #6a00e4;
$color-primary-dark-2: #4800c2;
$color-grey-dark: #777;
$color-grey-light: #F7F7F7;
$color-alert: #CC003d;
$color-white: #fff;
$color-black: #000;



//Mana symbol colors
$color-mana-w:rgb(248, 246, 216);;
$color-mana-u: rgb(193, 215, 233);
$color-mana-b: rgb(186, 177, 171);
$color-mana-r: rgb(228, 153, 119);
$color-mana-g: rgb(163, 219, 149);


$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8 rem;
$gutter-horizontal: 6rem;