.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: .15;
    overflow: hidden;
    &__content{
        height:100%;
        width:100%;
        object-fit: cover;
    }
    z-index: 100;
    //clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 14% 40%, 50% 15%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 41%, 50% 0%, 75% 41%, 69% 95%, 31% 95%, 25% 42%,25% 100%, 100% 100%, 100% 0%);
    //clip-path: polygon(50% 0%, 86% 40%, 77% 95%, 23% 95%, 14% 40%);
}