.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 15px 40px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: relative;
        color: $color-black;

    }
    &:not(:last-child){
        margin-bottom: 10px;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black,.2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    &:active{
        color: $color-primary-dark;
    }
    &__white {
        color: $color-grey-dark;
        background-color: $color-white;
        &::after{
            background-color: $color-primary-light;
        }
    }
    &__danger {
        color: $color-grey-light;
        background-color: $color-alert;
        &::after{
            background-color: $color-primary-light;
        }
    }
    &__light {        
        color: $color-grey-light;
        background-color: $color-primary-light;          
    }
    &__dark {        
        color: $color-grey-light;
        background-color: $color-primary-dark;          
    }
    &__sm{
        margin-top: 10px;
        padding: 5px 40px !important;
    }
    &__lg{
        margin-top: 10px;
        padding: 10px 20px !important;
    }
    &:after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
  }


  