.btn{

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 20px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: relative;
        //color: $color-black;

    }
    &:not(:last-child){
        margin-bottom: 10px;
    }
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba($color-black,.2);
        &::after{
            transform: scaleX(1.2) scaleY(1.4);
            opacity: 0;
        }
    }
    &:active{
        color: $color-primary-dark;
    }
    &__white {
        color: $color-card-w-old;
        background-color: $color-card-w-new;
        &::after{
            background-color: $color-card-w-old;
        }
    }
    
    &__blue {
        color: $color-card-u-new-dark;
        background-color: $color-card-u-new-light;
        &::after{
            background-color: $color-card-u-new-light;
        }
    }
    &__black {
        color: $color-card-b-new-dark;
        background-color: $color-card-b-new-light;
        &::after{
            background-color: $color-card-b-new-light;
        }
    }
    &__red {
        color: $color-card-r-new-dark;
        background-color: $color-card-r-new-light;
        &::after{
            background-color: $color-card-r-new-light;
        }
    }
    &__green {
        color: $color-card-g-new-dark;
        background-color: $color-card-g-new-light;
        &::after{
            background-color: $color-card-g-new-light;
        }
    }
    &__art {
        color: $color-card-a-old;
        background-color: $color-card-a-new;
        &::after{
            background-color: $color-card-a-new;
        }
    }
    &__danger {
        color: $color-grey-light;
        background-color: $color-alert;
        &::after{
            background-color: $color-primary-light;
        }
    }
    &__light {        
        color: $color-card-u-new-dark;
        background-color: $color-card-u-new-light;
    }
    &__dark {        
        color: $color-grey-light;
        background-color: $color-primary-dark;          
    }
    &__sm{
        margin-top: 10px;
        padding: 4px 20px !important;
    }
    &__lg{
        margin-top: 10px;
        padding: 10px 20px !important;
    }
    &:after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
  }


  
  input[type="submit"].btn{
      appearance: none;
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 8px 20px;
        display: inline-block;
        border-radius: 100px;
        transition: all 0.2s;
        position: relative;
        //color: $color-black;
    }
    &:after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    &__white {
        color: $color-card-w-old;
        background-color: $color-card-w-new;
        &::after{
            background-color: $color-card-w-old;
        }
    }
    
    &__blue {
        color: $color-card-u-new-dark;
        background-color: $color-card-u-new-light;
        &::after{
            background-color: $color-card-u-new-light;
        }
    }
    &__black {
        color: $color-card-b-new-dark;
        background-color: $color-card-b-new-light;
        &::after{
            background-color: $color-card-b-new-light;
        }
    }
    &__red {
        color: $color-card-r-new-dark;
        background-color: $color-card-r-new-light;
        &::after{
            background-color: $color-card-r-new-light;
        }
    }
    &__green {
        color: $color-card-g-new-dark;
        background-color: $color-card-g-new-light;
        &::after{
            background-color: $color-card-g-new-light;
        }
    }
    &__art {
        color: $color-card-a-old;
        background-color: $color-card-a-new;
        &::after{
            background-color: $color-card-a-new;
        }
    }
    &__danger {
        color: $color-grey-light;
        background-color: $color-alert;
        &::after{
            background-color: $color-primary-light;
        }
    }
  }