.deck {
    font-size: $default-font-size;
    color: $color-card-a-new;
    //height: 80vh;
    padding-top: 1rem;
    background-image: radial-gradient(rgba($color-card-r-new-light, .6),rgba($color-card-r-new-dark, .7)),
    url("https://image.shutterstock.com/image-photo/ayutthayathailandmay-13-2020-back-magic-600w-1730028406.jpg");
    &__links{
        text-align: right;
    }
}
.tags{
    font-size:1.4rem;
    list-style: none;
}