.game{
    //height: 80vh;
    background-image: linear-gradient( to right, rgba($color-card-w-old, .6) 10%, rgba($color-card-w-new, .6) 20%), 
    url("https://image.shutterstock.com/image-photo/ayutthayathailandapril-6-2020-seven-back-600w-1695460168.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: $default-font-size;
    overflow: auto;

    &__header{
        color: $color-card-a-old;
        &__deck{
            width: 15%;
        }
        &__tags{
            width: 50%;
        }
        &__result {
            width: 5%;
        }
        &__comments{
            width: 30%;
        }
    }

    &__deck{
        &_link{
            text-decoration: none;
            color: $color-card-u-new-dark;
            &:hover{
                color: $color-card-u-old-dark;
            }
        }
        background-color: $color-card-u-new-light;
        &:hover{
            background-color: $color-card-u-old-light;
        }
    }
    &__result{
        text-align: center;
        &_win{
            color: $color-card-g-new-dark;
            background-color: $color-card-g-new-light;
        }
        &_loss{
            color: $color-card-r-new-dark;
            background-color: $color-card-r-new-light;
        }
    }
    &__tags,
    &__comments{
        //color: $color-mana-b;
        font-size: 1.2rem;
    }
    &__show{
        
        display: inline-block;
        width: 50%;
        color: $color-card-u-old-dark;
        &_comments,
        &_deck,
        &_result,
        &_game{
            color: $color-card-b-old;
            font-size: calc(#{$default-font-size} - .3rem);
            margin-left: 3rem;
            display: inline-block;
            width: 50%;
        }
        &_tags{
            display: inline;
            color: $color-card-b-old;
            font-size: calc(#{$default-font-size} - .3rem);
            margin-left: 1rem;
            display: inline-block;
            //width: 25%;
        }
    }
}