<div class="deck"> <h2 class="header u-margin-bot-sm">Decks with more wins than losses</h2>
    <%= render partial: 'decks/decks', locals: {user:current_user, decks:current_user.decks.wlratio} %>
</div>