<div class="form">
    <div class="row u-center-text">
        <h2 class="header">New Deck</h2>
    </div>
    <%if current_user.ccgs.length>0%>
        <%= render 'form' %>
    <%else%>
        <h3 class="header u-alert-text">You need to choose at least one format you play in order to create decks</h3>
        <%= link_to 'Edit User', edit_user_path(current_user), class: "btn btn__blue" %>
    <%end%>
</div>

