<div class="info">
    <h1>New Deck</h1>
    <%if current_user.ccgs.length>0%>
        <%= render 'form' %>
    <%else%>
        <n>You need to choose CCGS you play in order to create decks</n>
        <%= link_to 'Edit User', edit_user_path(current_user) %>
    <%end%>
</div>
